header {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 14px;
  padding: 10px 10px;
  text-align: center;
  ;
}

/*add*/
header h1 {
  font-family: "Courier New", Courier, monospace;
}

.container {
  /*alterado*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  /* adicionado card */
  background-color: rgb(70, 145, 107);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(72, 240, 5, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 90px;
}

input,
button {
  width: 100%;
  margin: 10px 0;
  padding: 10px 0;
  font-size: 16px;
}

button {
  background-color: #ff3300;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  /* animação mouse */
  background-color: #0056b3;
}

#resultado {
  margin-top: 15px;
  font-weight: bold;
}

footer {
  background-color: #040c14;
  color: white;
  text-align: center;
  font-style: italic;
  padding-top: 2px;
  position: fixed;
  width: 100%;
  height: auto;

}